* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #7F7FFF;
}

input {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #7F7FFF;
  border-radius: 4px;
  height: 20px;
}

label {
  margin: 0 0 4px 10px;
  color: white;
}

.Friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

button {
  background-color: green;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



